@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,400&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5 ;
    margin: 0;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.container {
    background-color: rgb(17, 16, 16);
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 150px;
    width: 1200px;
    height: auto;
    /*padding: 60px;*/
    border-radius: 16px;
    margin-top: 10px;
}  

/*.banner {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 300px;
}*/

.bcontent {
    color: aliceblue;
    margin-top: 70px;
    margin-left: 150px;
    
    
}

.bcontent h1 {
    font-size: 35px;
    font-weight: bold;
}
.bcontent p {
      margin-bottom: 26px;
}



.btn1 {
   
    background-color: blue;
    padding: 10px 30px;
    color: rgb(228, 226, 226);
    width: 160px;
    height: 62px;
    font-weight: 800;
    border-radius: 7px;
    
}

.player img {
    width: 400px;
    height: 500px;
    /*margin-right: 30px;*/
   
    
}

.container2 {
    margin-top: 50px;
    width: 1320px;
    
    /*background-color: aquamarine;*/
    display: flex;
    height: 1050px;

}
.menu {
    background-color: black;
    width: 200px;
    height: 300px;
    display: block;
   border-radius: 7px;
   text-align: center;
    /*margin-right: 20px;*/
}
.menu button {
   margin: 15px;
   
   border-radius: 7px;
   color: black;
   background-color: lightgray;

}

#b3 {
    background-color: darkred;
    color: aliceblue;
}
.matchcon {
    /*background-color: rgb(170, 125, 155);*/
    width: 1200px;
    height: 100%;
   
}

/*match-info*/

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-radius: 14px;
}
.match {
    /*background-color: brown;*/
    border-radius: 14px;
    border-style: ridge;
}
.match-banner {
    width: 100%;
}
.match-banner img {
    width: 100%;
}
.match-details button  {
    margin :10px;
    border: none;
    height: 30px;
    border-radius: 4px;
    border-style:groove;
}
.match-details h3 {
    margin :10px;
}

.match-info{
    display: flex;
    align-items: center;
    /*background-color: rgb(184, 197, 65);*/
    margin-right: 6px;
    width: 100%;
    
}
.match-info img {
    
    padding: 10px;
    
    
}
.match-info span {
    margin-right: 36px;
}
#time {
    margin-right: 6px;
}
/* footercon*/
.footercon {
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 300px;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    
    
}
.footerinfo{
    margin-top: 60px;
}
.footerlist{
    list-style: none;
}

.liststyle{
    list-style: none;
    
}
.liststyle li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
hr {
    width: 800px;
    border: none;
    height: 1px;
   
    background-color: rgb(94, 95, 95);
}


/* media quaries*/
@media only screen and (max-width: 688px) {
    main {
        display: flex;
        width: 600%;
        height: auto !important;
        position: center;
        margin: 0 auto -100px;
        
    }
     .container {
        
        min-width: 100%;
        display: flex;
        height: auto;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
         }
         .container2 {
            height: auto;

         }
     .bcontent {
         /*margin-left: 50%;*/
         margin-top: 30px;
         width: 35%;
         height: 200px;
         margin-left: 0px;
         justify-content: center;
         /*margin-left: 40%;*/
         text-align: center;
         
     }
    
     .bcontent br {
        display: none;
     }
     .bcontent h1 {
        display: inline;
        font-size: 25px;
        font-weight: bold;
        

        
     }
     .bcontent p {
        margin-bottom: 20px;
  }

  .player img {
    width: 200px;
    height: 200px;
    

   /* margin-left: 50%;*/
    margin-top: 60px;
    
   
    
}

 .container2{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
   }
   .menu {
    
    background-color: transparent;
    
   }
   .matchcon{
    min-width: 100%;
    justify-content: center;
    
   }
   
   .matches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     grid-row-gap: 24px;
    
   }
   .match {
    width: 40%;
    margin-left: 30%;

    
    
   }
   .matchcon {
    
    height: 200%;}
    .footercon{
        
        flex: 0 0 50px;/*or just height:50px;*/
        margin-top: auto;
        text-align: center;
          
    }
   
}

 
  


/*tablet*/
@media only screen and (min-width: 688px) and (max-width: 992px)  {
    html{
       min-width: 1320px ;    
         margin: 0;
       padding: 0;

    }
    body {
        margin: 0;
        padding: 0;
    }
    main {
            min-width: 100%;
            justify-content: center;
    }
    .container{
        max-width: 80%;
        height: auto;
        /*margin-left:40%;*/
        grid-column-gap: 50px;
        overflow: hidden;
    }
    .bcontent {
        margin-left:3%;
        
        
    }
    .player img {
        height: 300px;
        width: 400px;
        margin-top: 30%;
        margin-left: 3% ;
        
    } 

     .container2{
    display: block;
    height: 2279px;
    justify-content: center;
    margin-bottom: 30px;
    
   }
   .menu {
    width: 100%;
    height: 200px;
    margin:0;
    align-items: center;
    margin-bottom: 10px;
    background-color: transparent;
    
   }
   .menu button {
    padding: 20px;
    margin: 40px;
   }
 

   
   .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 24px;
     justify-content: center;
     
    
   }
   .match {
    width: 80%;
    margin-left: 40px;
    }

    .matchcon { 
        width: 1320px;
        justify-content: center;
    }

   .footercon{
     position: relative;
     bottom: 0;
     height: 300px ;
   }
 .footerinfo h1{
    font-size: 40px;
 }


   .liststyle li {
    display: inline;
    padding: 30px;
    height: 40px;
    
}
}


